/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
/* @import 'style-light.css'; */

@import "../../.cache/wal/colors-waybar.css";
@define-color backgroundlight @color8;
@define-color backgrounddark @color8;
@define-color workspacesbackground1 @color5;
@define-color workspacesbackground2 @color11;
@define-color bordercolor #FFFFFF;
@define-color textcolor1 #000000;
@define-color textcolor2 #000000;
@define-color textcolor3  @color15;
@define-color iconcolor @color15;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family: "Fira Code Nerd Font", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: rgba(25, 25, 25, 0.4);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.modules-left {
  padding-left: 10px;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  margin: 0px 7px 0px 7px;
  padding: 0px 0px 0px 0px;
  font-size: 12px;
  font-family: "Fira Sans semibold";
  color: @textcolor1;
}

#workspaces button {
  border: 0px;
  margin: 0px 2px 0px 0px;
  padding: 0px 5px 0px 5px;
  color: @textcolor3;
  transition: all 0.5s ease-in-out;
}

#workspaces button.active {
  color: @textcolor1;
  background: @workspacesbackground1;
}

#workspaces button:hover {
  color: @textcolor1;
  background: @workspacesbackground1;
  border-radius: 15px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 10px;
  background-color: rgba(25, 25, 25, 0.8);
  color: @textcolor3;
  padding: 10px;
  margin: 0px;
}

tooltip label {
  color: @textcolor3;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  background-color: transparent;
  margin: 0px 15px 0px 0px;
  color: @textcolor3;
  font-size: 10px;
  font-weight: normal;
  font-family: "FiraCode Nerd Font";
}

window#waybar.empty #window {
  background-color: transparent;
  font-weight: normal;
  font-family: "FiraCode Nerd Font";
}

#mpd {
  margin: 0px 15px 0px 0px;
  color: @textcolor3;
  font-size: 10px;
  font-weight: normal;
  font-family: "FiraCode Nerd Font";
}

#custom-cava {
  margin: 0px 15px 0px 0px;
  color: @textcolor3;
  font-size: 10px;
  font-weight: normal;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-cliphist,
#custom-wallpaper,
#custom-settings,
#custom-wallpaper,
#custom-system,
#custom-tools,
#custom-hyprshade,
#custom-hypridle,
#custom-waybarthemes {
  margin-right: 16px;
  font-size: 12px;
  font-weight: bold;
  color: @iconcolor;
}

#custom-weather {
  margin-right: 16px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: @iconcolor;
}

#custom-tools {
  margin-right: 12px;
}

#custom-hyprshade {
  margin-right: 12px;
}

#custom-hypridle {
  margin-right: 16px;
}

#custom-hypridle.active {
  color: @iconcolor;
}

#custom-hypridle.notactive {
  color: #dc2f2f;
}

#custom-settings {
  margin-right: 15px;
}

#custom-browser {
  margin-right: 12px;
}

#custom-wallpaper {
  margin-right: 14px;
}

#custom-waybarthemes,
#custom-system {
  margin-right: 15px;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
  margin-right: 15px;
  font-size: 14px;
  font-weight: bold;
  color: @iconcolor;
}

#idle_inhibitor.activated {
  margin-right: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenuicon {
  font-size: 18px;
  color: @textcolor3;
  margin: 0px 15px 0px 0px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
  margin: 0px 15px 0px 0px;
  padding: 0px;
  font-size: 14px;
  color: @iconcolor;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
  font-size: 12px;
  font-family: "Fira Sans semibold";
  color: @textcolor3;
  border-radius: 15px;
  margin: 0px 15px 0px 0px;
}

#custom-updates.green {
}

#custom-updates.yellow {
  color: #ff9a3c;
}

#custom-updates.red {
  color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Youtube
 * ----------------------------------------------------- */

#custom-youtube {
  background-color: @backgroundlight;
  font-size: 12px;
  color: @textcolor2;
  border-radius: 15px;
  margin: 0px 15px 0px 0px;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,
#memory,
#cpu,
#temperature,
#network,
#language {
  margin: 0px 7px 0px 7px;
  padding: 0px 2px 0px 2px;
  font-size: 12px;
  color: @iconcolor;
}

#language {
  margin-right: 10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  font-size: 13px;
  color: @textcolor3;
  margin: 0px 15px 0px 0px;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
  font-size: 12px;
  color: @textcolor3;
  border-radius: 15px;
  margin: 0px 15px 0px 0px;
  background-color: transparent;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  font-size: 12px;
  font-family: "Fira Sans semibold";
  color: @textcolor3;
  border-radius: 15px;
  margin: 0px 15px 0px 0px;
}

#pulseaudio.source-muted {
  color: @textcolor3;
}
#pulseaudio.muted {
  color: @textcolor3;
}

#network.ethernet {
  color: @textcolor3;
}

#network.wifi {
  color: @textcolor3;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
  font-size: 12px;
  color: @textcolor3;
  border-radius: 15px;
  margin: 0px 15px 0px 0px;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
  font-size: 12px;
  color: @textcolor3;
  border-radius: 15px;
  margin: 10px 15px 10px 0px;
}

#battery.charging,
#battery.plugged {
  color: @textcolor3;
}

@keyframes blink {
  to {
    background-color: @backgroundlight;
    color: @textcolor2;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  margin: 0px 10px 0px 0px;
  background-color: @color2;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  border: none;
  padding: 0px 7px 0px 7px;
}

#tray menu menuitem:hover {
  color: @textcolor3;
}

#tray menu {
  color: @textcolor3;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#clock {
  font-family: "Fira Sans semibold";
}
